<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Universe</title>
</head>
<body>
    <!--Cabeçalho ou Início do meu site-->
    <header style="display: flex;">
        <!--(Section = Seção) Foto de perfil-->
        <section>
            <img src="Fotodeperfil.jpeg" alt="Imagem de perfil" height="150px" width="120px">
        </section>
        <!--Section Informações Pessoais-->
        <section>
            <!--width=Largura e height=Altura-->
            <br> <br>
            &nbsp;&nbsp;&nbsp;
            João Emanuel | 18 Anos | Cristão <img src="imgCruz.png" alt="Cruz" width="12" height="12"> <br>
            &nbsp;&nbsp; Estudante de Desenvolvimento Web 👨‍💻
            <br><br>
            &nbsp;&nbsp;<img alt="HTML" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
            <img alt="CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
            <img alt="Js" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="Mysite.html">Home</a>&nbsp;
        <a href="entreterimento.html">Entretenimento</a>&nbsp;
        <a href="músicas.html">Músicas</a>&nbsp;
        <a href="contato.html">Contato</a>
            <hr>
    </nav>
    <h2>Meus Contatos</h2>
    <img src="logogmail.png" alt="logogmail" height="10" width="20"></a>
    <a href="mailto:joaoemanuelmbsgmail.com">joaoemanuelmbs@gmail.com</a>
    &nbsp;<img src="Logoinstagram.png" alt="Logoinstagram" height="12" width="15">
    <a href="https://www.instagram.com/joaoo_em/">Joaoo_em</a>
    <br>

    <h3>Preencha o Formulário para Avaliar o Site:</h3>

    <form action="#">
       <label for="Nome">Nome:</label>
       <input type="text" id="Nome" name="Nome" required >
       <br><br>  
       <label for="Email">Email:</label>
       <input type="email" id="email" name="email" required>
       <br><br>
       <label for="Telefone">Telefone</label>  
       <input type="tel" id="Telefone" name="Telefone" required>
       <br><br>
       <fieldset>
        <legend><strong>Escreva Sua opinião, Sugestões e Críticas:</strong></legend>
        <textarea name="message" cols="28" rows="8" 
                placeholder="Deixe aqui a sua mensagem!" required ></textarea>
    </fieldset> 
    <br>
      <input type="submit" value="Enviar">   
    </form>
    <br>
    <footer>
        By João emanuel &copy;
    </footer>
</body>
</html>