<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--Cabeçalho ou Início do meu site-->
    <header style="display: flex;">
        <!--(Section = Seção) Foto de perfil-->
        <section>
            <img src="Fotodeperfil.jpeg" alt="Imagem de perfil" height="150px" width="120px">
        </section>
        <!--Section Informações Pessoais-->
        <section>
            <!--width=Largura e height=Altura-->
            <br> <br>
            &nbsp;&nbsp;&nbsp;
            João Emanuel | 18 Anos | Cristão <img src="imgCruz.png" alt="Cruz" width="12" height="12"> <br>
            &nbsp;&nbsp; Estudante de Desenvolvimento Web 👨‍💻
            <br><br>
            &nbsp;&nbsp;<img alt="HTML" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
            <img alt="CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
            <img alt="Js" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="Mysite.html">Home</a>&nbsp;
        <a href="entreterimento.html">Entretenimento</a>&nbsp;
        <a href="músicas.html">Músicas</a>&nbsp;
        <a href="contato.html">Contato</a>
            <hr>
    </nav>

    <!--Seção de Entretenimento-->
    <article>
        <h2>Todo Mundo odeia o Chris</h2>
        <p>
            <img src="Chris.jpg" alt="The Big Bang Theory" height="100px" width="150px">
        </p>
        <p>
            <h3>Sinopse:</h3>
        </p>
        <p>
            <strong>Todo Mundo odeia o chris</strong> é 
            sobre a vida do comediante Chris Rock,<br>
            a série conta a história de Chris, um adolescente negro <br>
            que vive com a família no bairro do Brooklyn, em Nova York, na década de 1980. <br>
        </p>
        <p>
            Para conhecer mais <a href="https://youtu.be/HBV6fTT_SH8?si=IaCZoEbUdmEuXrtZ">Clique aqui!</a>
        </p>
    </article>
    <hr>

</body>
</html>
