<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Universe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--Cabeçalho ou Início do meu site-->
    <header style="display: flex;">
        <!--(Section = Seção) Foto de perfil-->
        <section>
            <img src="Fotodeperfil.jpeg" alt="Imagem de perfil" height="150px" width="120px">
        </section>
        <!--Section Informações Pessoais-->
        <section>
            <!--width=Largura e height=Altura-->
            <br> <br>
            &nbsp;&nbsp;&nbsp;
            João Emanuel | 18 Anos | Cristão <img src="imgCruz.png" alt="Cruz" width="12" height="12"> <br>
            &nbsp;&nbsp; Estudante de Desenvolvimento Web 👨‍💻
            <br><br>
            &nbsp;&nbsp;<img alt="HTML" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
            <img alt="CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
            <img alt="Js" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
        <a href="Mysite.html">Home</a>&nbsp;
        <a href="entreterimento.html">Entretenimento</a>&nbsp;
        <a href="músicas.html">Músicas</a>&nbsp;
        <a href="contato.html">Contato</a>
    </nav>
    <!--Estrutura principal do site-->
    <main>
        <h1>Welcome to My Universe</h1>
        <p>
            Oiii! sou João Emanuel, eu gosto de: <br>
            Jogar Futebol, e esse sempre foi meu esporte favorito. <br>
            Gosto támbem de Ler em tempos livres, <br>
            E claro, Codar!😉
        </p>
        <ul>
            <li>
                Livros que Ainda Quero ler:
                <ul>
                    <li>As Crónicas de nárnia, os 4 Últimos.</li>
                    <li>Pecadores nas Mãos de um Deus irado</li>
                    <li>O Pequeno Príncipe</li>
                </ul>
            </li>
            <li>Sou um programador Inciante e entusiasmado!</li>
            <li>Tenho 7 Irmãos</li>
            <li>Tenho um Amigo papagaio com o mesmo nome que o meu</li>
            <li>Não gosto de vitamina de abacate</li>
            <li>Gosto de ouvir música enquanto faço qualquer coisa</li>
            <li>Para mim, estar na igreja é estar no melhor lugar do mundo.</li>
        </ul>
    </main>
    
    <!--Rodapé-->
    <hr>
    <footer>
        By João Emanuel &copy;
    </footer>
</body>
</html>
