<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Universe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--Cabeçalho ou Início do meu site-->
    <header style="display: flex;">
        <!--(Section = Seção) Foto de perfil-->
        <section>
            <img src="Fotodeperfil.jpeg" alt="Imagem de perfil" height="150px" width="120px">
        </section>
        <!--Section Informações Pessoais-->
        <section>
            <!--width=Largura e height=Altura-->
            <br> <br>
            &nbsp;&nbsp;&nbsp;
            João Emanuel | 18 Anos | Cristão <img src="imgCruz.png" alt="Cruz" width="12" height="12"> <br>
            &nbsp;&nbsp; Estudante de Desenvolvimento Web 👨‍💻
            <br><br>
            &nbsp;&nbsp;<img alt="HTML" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
            <img alt="CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
            <img alt="Js" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="Mysite.html">Home</a>&nbsp;
        <a href="entreterimento.html">Entretenimento</a>&nbsp;
        <a href="músicas.html">Músicas</a>&nbsp;
        <a href="contato.html">Contato</a>
            <hr>
    </nav>

    <!--Aqui começa minha lista-->
<main>
    <ol>
        <li>Gabriel guedes - Eu navegarei <a href="https://youtu.be/uXX5K19Pp5U?si=D35bXyQ4pO6ASfYO"><img src="Playicon.png" height="12" width="12" alt="Ouça Aqui!"></a></li>
        <li>FHOP Music, Marcos Theles - Colossenses e Suas Linhas de Amor <a href="https://youtu.be/MeX0yHMs9Nk?si=TxGSJaJ7ZIfr5WlS"><img src="Playicon.png" height="12" width="12" alt="Ouça Aqui!"></a></li>
        <li>FHOP Music, Marcos Telles - Cantai + Até Sozim <a href="https://youtu.be/NMBC-tkNAFM?si=5HefgXtH6Rqmoz8u"><img src="Playicon.png" height="12" width="12" alt="Ouça Aqui!"></a></li>
        <li>Morada - Emaús <a href="https://youtu.be/Kl8a_qMtSE8?si=3lq5wNUeACaL24gN"><img src="Playicon.png" height="12" width="12" alt="Ouça Aqui!"></a></li>
        <li>Morada - Oh Se fendesses <a href="https://youtu.be/ixbKCeDiQOg?si=LJl2TBf5JAsAWKhI"><img src="Playicon.png" height="12" width="12" alt="Ouça Aqui!"></a></li>
        <li>José jr - Yeshua <a href="https://youtu.be/LSGJFVTZFUA?si=y3zPyQ2NoZMvBMwq"><img src="Playicon.png" height="12" width="12" alt="Ouça Aqui!"></a></li>
        <li>José jr - Na Fenda da Rocha <a href="https://youtu.be/E_TZ8iTUSxw?si=U8iaCnThQ27eQj5_"><img src="Playicon.png" height="12" width="12" alt="Ouça Aqui!"></a></li>
        <li>Thales Roberto - Deus da Minha Vida <a href="https://youtu.be/v4RZnzFt7_w?si=JUN5zwDNt0emQ6rU"><img src="Playicon.png" height="12" width="12" alt="Ouça Aqui!"></a></li>
        <li>Thales Roberto - Escrita Pelo Dedo de Deus <a href="https://youtu.be/0uxe2WLQ_So?si=n8kyl-cGivwbXf6R"><img src="Playicon.png" height="12" width="12" alt="Ouça Aqui!"></a></li>
        <li>Fernandinho - Nada Além do Sangue <a href="https://youtu.be/zmN6nFLgk4E?si=CB-whiFB_sTgqxPy"><img src="Playicon.png" height="12" width="12" alt="Ouça Aqui!"></a></li>
    </ol>
</main>
<!--Rodapé-->
<hr>
<footer>
    By João Emanuel &copy;
</footer>
</body>
</html>
